@import "@miw/styles/abstracts/abstracts";

.container {
  // max-width: fit-content;
  height: calc(100vh - 6rem);
  margin-inline: auto;

  .title {
    padding: 5rem 1rem 3rem;
    color: $secondary;
  }
  .josnContainer {
    background-color: $secondary10;
    padding: 5rem;
    border-radius: 1.6rem;
    color: $primary70;
    border: 5px solid $secondary30;
  }
}
