@mixin BlueShade(
  $top: 0,
  $left: auto,
  $right: auto,
  $width: 25%,
  $height: 80%
) {
  border-radius: 45.3rem;
  opacity: 0.5;
  background: $secondary;
  filter: blur(250px);
  position: absolute;
  z-index: -1;
  left: $left;
  top: $top;
  right: $right;
  width: $width;
  height: $height;
}

@mixin GreenShade(
  $top: 0,
  $left: auto,
  $right: auto,
  $width: 25%,
  $height: 80%
) {
  border-radius: 45.3rem;
  opacity: 0.5;
  background: $primary;
  filter: blur(250px);
  position: absolute;
  left: $left;
  top: $top;
  z-index: -1;
  right: $right;
  width: $width;
  height: $height;
}
@mixin respond($breakPoint) {
  @if $breakPoint ==macbook {
    @media screen and (min-width: 1367px) and (max-width: 1500px) {
      // 75 em

      @content;
    }
  }

  @if $breakPoint ==Laptop {
    @media (max-width: 1366px) {
      @content;
    }
  }
}
