@import "@miw/styles/abstracts/abstracts";

.container {
  .header {
    padding: 5rem 1rem 3rem;
    display: flex;
    justify-content: space-between;

    .title {
      color: $secondary;
    }
  }
  .paginationContainer {
    width: fit-content;
    margin-top: 2rem;
    margin-inline: auto;
  }

  .tHeader {
    padding: 2rem;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    & > * {
      flex: 1;
    }
    & > :last-child {
      flex: unset;
    }
  }
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3rem);
  gap: 2rem;
  & > * {
    flex: 1;
  }
  & > :last-child {
    flex: unset;
  }
  .title {
    text-transform: capitalize;
    color: $secondary;
  }

  //   @include respond("tab") {
  //     background-color: red;
  //   }
}

.bodyContainer {
  color: $secondary40;
  //   background-color: $primary10;
}
