@import '@miw/styles/abstracts/abstracts';
.createContainer {
    width: 70rem;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 80%;
    }
    .formSection {
        .formControl {
            align-items: center;
            margin-bottom: 2.5rem;

            &:last-of-type {
                align-items: flex-start;
                margin-bottom: 2.5rem;

                label {
                    margin-top: 1.1rem;
                }
            }

            label {
                padding-bottom: 1rem;
            }

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: baseline;

                label {
                    margin-bottom: 4px;
                }

                label,
                .inputSelect {
                    width: 100%;
                }
            }
        }
    }
}
